<center>
  <h1>Welcome to My SMS Photos</h1>
  <p>
    Text photos to # <b>(209) 661-7815</b> to get your own free, 3d-space photo gallery!
  </p>
  <br/>
  <%= image_tag "mysms.png" %>
  <br/>
  <h6>deadcast at sent dot com</h6>
</center>
